//  Hide "broken" images before they start loading
img:not([src]):not([srcset]) {
  visibility: hidden;
}

.lazy-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 66.66%;

  /* 👆 image height / width * 100% 
    1080/1920*100=56.25
    1280/1920*100=66.66

  */

  img {
    width: 100%;
    height: auto;
    position: absolute;
  }
}
