:root {
  --blue: #3e55d0;
}

.bg-white {
  background-color: #f2f2f2;
  color: black;
}
.text-white {
  color: white !important;
}

.bg-black {
  background-color: #000;
  color: white;
}
.text-black {
  color: #202122;
}

.bg-blue {
  background-color: #3e55d0;
}

.text-blue {
  color: #3e55d0;
}
