@font-face {
  font-family: aff-bold;
  src: url("./font/aff-bold.otf") format("opentype");
}

.aff-bold {
  font-family: "aff-bold", serif;
}

@font-face {
  font-family: aff-regu;
  src: url("./font/aff-regu.otf") format("opentype");
}

.aff-regu {
  font-family: "aff-regu", serif;
}

@font-face {
  font-family: fav-italic;
  src: url("./font/fav-italic.otf") format("opentype");
}

.fav-italic {
  font-family: "fav-italic", serif;
}

@font-face {
  font-family: fav-light;
  src: url("./font/fav-light.otf") format("opentype");
}

.fav-light {
  font-family: "fav-light", serif;
}

@font-face {
  font-family: roboto-bold;
  src: url("./font/roboto-bold.ttf") format("truetype");
}

.roboto-bold {
  font-family: "roboto-bold", serif;
}

@font-face {
  font-family: roboto-regular;
  src: url("./font/roboto-regular.ttf") format("truetype");
}

.roboto-regular {
  font-family: "roboto-regular", serif;
}


@font-face {
  font-family: work;
  src: url("./font/work.ttf") format("truetype");
}

.work {
  font-family: "work", serif;
}
